body {
	background-color: black;
	color: white;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 200px;
	font-family: arial;
}

h1 {
	font-size: 45pt;
}

h2 {
	font-size: 25pt;
}

p {
	font-size: 18pt;
}

th, td {
	padding: 40px 0px 0px 40px;
}